/* app css stylesheet */

body {
    padding-top: 20px;
}

.container {
    width: 800px;
}

.container table {
    margin: 0 auto;
}

td {
    background: black;
    height: 12px;
    width: 12px;
    padding: 1px 1px 1px 1px;
}

tr:last-child > td {
    padding: 0;
}

.cell, .platform, .ball{
    background: white;
    width: 100%;
    height: 100%;
}

.filter {
    background: #c48d78;
    width: 100%;
    height: 100%;
}

.info {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px 0px 0px 20px;
}
