<!doctype html>
<html lang="en" ng-app="tennisApp">
<head>
    <meta charset="utf-8">
    <title>Tetris-tennis</title>

    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../../bower_components/angular/angular.js"></script>

    <link rel="stylesheet" href="css/app.css">

    <script src="js/app.js"></script>
    <script src="js/controllers/field.controller.js"></script>
    <script src="js/services/constants.js"></script>
    <script src="js/services/field.service.js"></script>
    <script src="js/models/field.model.js"></script>
</head>

<body ng-controller="FieldCtrl as vm" ng-keypress="vm.changeDirection($event)" class="container">
    <div class="info">
        <div>
            Your score is <span>{{score}}</span><br/>
            Press "Start" to start a new game<br/>
            Use W, S, D, A to move the snake
        </div>
        <br/>
        <div ng-show="gameOver">
            Game over
        </div>
    </div>

    <table>
        <tr ng-repeat="row in vm.field">
            <td ng-repeat="cell in row" ng-switch="cell.val">
                <div class="cell" ng-switch-when="1"></div>
                <div class="broken" ng-switch-when="2"></div>
                <div class="platform" ng-switch-when="3"></div>
                <div class="ball" ng-switch-when="4"></div>
                <div class="filter" ng-switch-when="5"></div>
            </td>
        </tr>
    </table>
    <button ng-click="vm.start()">{{vm.startText}}</button>
</body>
</html>

